* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 5vw;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 2vw;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #ff5ea2;
}

.main {
    display: flex;
    margin: 3rem 0 0 3rem;
}

.main .one h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;

}

.main .one h3 {
    color: rgb(72, 70, 70);
    margin-bottom: 0.4rem;

}

.main .one p {
    color: rgb(143 137 137);
    margin-bottom: 0.4rem;

}

.main .one h4 {
    margin-left: 0.3rem;
    margin-bottom: 1.4rem;
}

button {
    width: 9vw;
    padding: 0.8rem;
    height: 7vh;
    background: linear-gradient(to right, #ff469f, #ff6062);
    border: none;
    border-radius: 8px;
    color: white;
    transition: width 0.7s;
    /* text-align: start; */
    /* font-size: 55px; */

}

button img {
    display: none;
}

button:hover img {
    display: inline-block;
    /* margin-left: 1rem; */
    width: 2rem;
}

button:hover {
    width: 11vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one::before {
    content: "";
    width: 1vw;
    height: 190px;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: 9vw;
    /* top: 160px; */
}

.main .two {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    bottom: 2rem;
}

.controller {
    width: 90%;
    object-fit: cover;
    /* height: 60%; */
    /* margin-top: -2rem; */
}

.two .color-bg {
    position: absolute;
    background: linear-gradient(#ff469f, #ff6062);
    z-index: -1;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    transform: translateX(27vw);
}

.add-btn {
    /* display: flex; */
    flex-direction: column;
    color: white;
    text-align: center;
    gap: 0.4rem;
    /* margin-left: 2rem; */
    /* margin-top: -2rem; */
    width: 10vw;
}

.add-btn img {
    width: 4vw;
    cursor: pointer;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.social-links img {
    width: 2vw;
    aspect-ratio: 3 / 2;
    object-fit: contain;
    margin-top: 1.5rem;
    cursor: pointer;

}

@media only screen and (max-width:700px) {
    nav ul {
        width: 100%;
        background: linear-gradient(#ff469f, #ff6062);
        position: absolute;
        top: 5rem;
        right: 0;
        border-radius: 8px;

    }

    nav ul li {
        display: block;
        margin-top: 0.5vh;
        /* color: white; */
    }

    nav ul li a {
        color: white;
    }

    .menu-icon {
        display: block;
        width: 7vw;
    }

    .logo {
        width: 9vw;
        cursor: pointer;
        margin-bottom: vh;
    }

    #menulist {
        overflow: hidden;
        transition: 0.6s ease-in-out;
        z-index: 2;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
    }

    .main .two {
        margin-bottom: 4rem;
    }

    .main .one h2 {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }

    .add-btn {
        /* display: flex; */
        flex-direction: column;
        color: white;
        text-align: center;
        justify-content: center;
        /* gap: rem; */
        /* margin-left: 2rem; */
        /* margin-top: -2rem; */
        /* width: 10vw; */
    }

    .main .one h3 {
        color: rgb(72, 70, 70);
        margin-bottom: 0.4rem;
        font-size: 15px;
    }

    .main .one p {
        color: rgb(143 137 137);
        margin-bottom: 0.4rem;
        font-size: 10px;
        /* margin-bottom: 6px; */
        margin: 5px;
    }

    button {
        width: 23vw;
        padding: 0.8rem;
        height: 7vh;
        background: linear-gradient(to right, #ff469f, #ff6062);
        border: none;
        border-radius: 8px;
        color: white;
        transition: width 0.5s;
        /* text-align: start; */
        /* font-size: 55px; */
    }

    button:hover {
        width: 35vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .add-btn img {
        width: 8vw;
        cursor: pointer;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* cursor: pointer; */
    }

    .social-links img {
        width: 6vw;
        aspect-ratio: 3 / 2;
        object-fit: contain;
        cursor:pointer;

    }
    .main .two {
        position: relative;
        flex-basis: 60%;
        display: flex;
        align-items: center;
        bottom: 0;
    }
}